.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 28px;
  border-radius: 8px;
  width: 100%;
  flex: 1;
  border: 1.5px dashed var(--text-color);
}

.main {
  width: 100%;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: auto;
}

.controls {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex: 1;
}

.button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: transparent;
  border: 1.5px dashed var(--text-color);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.buttonMain {
  width: 48px;
  height: 48px;
}

.waveform {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.track {
  font-size: 0.95rem;
  color: var(--text-color-secondary);
}
