.sketch-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.permission-button {
  all: unset;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border: dashed 1.5px var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.permission-button-red {
  all: unset;
  border: dashed 1.5px red;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
