*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/array/Array-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/array/Array-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Array";
  src: url("/fonts/array/Array-BoldWide.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  display: block;
  overflow: auto;
}

/* ===== Scrollbar (tomado del segundo archivo) ===== */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  position: absolute;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

/* ================================================ */

button {
  font-family: "IBM Plex Sans", sans-serif;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
}

.app-content {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
}
