.interactive-list-sketch-list-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.interactive-list-section-description-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 300px;
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

.interactive-list-sections-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 20;
}

.interactive-list-sketch-carousel {
  margin-bottom: 100px;
}

.interactive-list-sketch-random-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}

.interactive-list-sketch-random-image {
  z-index: 10;
}

.interactive-list-section-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  transition: color 0.3s ease;
  font-family: "IBM Plex Sans", sans-serif;
}

@media (hover:hover) {
  .interactive-list-section-button:hover {
    text-shadow:
      0 0 10px rgba(225, 255, 26, 1),
      0 0 20px rgba(225, 255, 26, 0.8),
      0 0 30px rgba(225, 255, 26, 0.6); /* Sombra intensa pero cercana */
  }
}

.interactive-list-sketch-random-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.interactive-list-sketch-image-container {
  position: absolute;
  overflow: hidden;
  pointer-events: auto;
  border: 2px dashed;
  border-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
}

.interactive-list-sketch-random-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.interactive-list-sketch-image {
  border-radius: 8px;
}

.interactive-list-interactives-sketch-container[data-count="1"] .interactive-list-sketch-image-container {
  width: 30vw;
  height: 30vh;
}

.interactive-list-interactives-sketch-container[data-count="2"] .interactive-list-sketch-image-container {
  width: 25vw;
  height: 25vh;
}

.interactive-list-interactives-sketch-container[data-count="3"] .interactive-list-sketch-image-container {
  width: 20vw;
  height: 20vh;
}

.interactive-list-interactives-sketch-container[data-count="4"] .interactive-list-sketch-image-container {
  width: 14vw;
  height: 14vh;
}

.interactive-list-interactives-sketch-container[data-count="5"] .interactive-list-sketch-image-container {
  width: 12vw;
  height: 12vh;
}

.interactive-list-sketch-image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.interactive-list-dotted-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.interactive-list-sketch-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .interactive-list-sketch-image-container {
    width: 200px;
  }
  .interactive-list-sections-container {
    gap: 6px;
  }

  .interactive-list-section-button {
    font-size: 0.7rem;
  }
  .interactive-list-sketch-carousel {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .interactive-list-sketch-image-container {
    width: 150px;
  }
  .interactive-list-sections-container {
    gap: 5px;
  }
  .interactive-list-section-button {
    font-size: 0.65rem;
  }
  .interactive-list-description-container {
    font-size: 0.6rem;
  }
}

.interactive-list-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  position: relative;
}
