/* =========================
   BASE ITEM
   ========================= */

.media-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  user-select: none;
  -webkit-user-drag: none;
}

/* =========================
   AUDIO ITEM
   ========================= */

.media-item-audio {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  background: var(--bg-color);
  cursor: pointer;
  user-select: none;
}

.audio-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-waveform {
  flex: 1;
  height: 40px;
}

.media-item *::marker {
  display: none;
}
